flows.json
[{"id":"d1445f81.056b9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a1bac96c.d74628","type":"debug","z":"d1445f81.056b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":310,"wires":[]},{"id":"9e62fd58.0518a","type":"inject","z":"d1445f81.056b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137,"y":158,"wires":[["86d46602.913cf8"]]},{"id":"86d46602.913cf8","type":"function","z":"d1445f81.056b9","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"eda7eb5d-6ac8-485c-8c97-b1aa0e31e4a2\"\nvar password=\"3b2c5982-6791-4d50-91fd-367312598267\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"sbp\",msg.payload.sbp)\nglobal.set(\"dbp\",msg.payload.dbp)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"tmp\",msg.payload.tmp)\nreturn msg;\n","outputs":1,"noerr":0,"x":236,"y":251,"wires":[["93febceb.f46b5"]]},{"id":"93febceb.f46b5","type":"http request","z":"d1445f81.056b9","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":417,"y":297,"wires":[["a1bac96c.d74628","69636117.cd14f"]]},{"id":"691c3d55.c58dc4","type":"http request","z":"d1445f81.056b9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/49c01045-2564-424a-bd19-840a797d5569/deployments/9ff836bf-f5dc-4e35-bfc2-e01b902f6cd5/online","tls":"","proxy":"","authType":"basic","x":331,"y":113,"wires":[["84c95dd4.a8052","c24e1ad.e3eb9e8"]]},{"id":"84c95dd4.a8052","type":"function","z":"d1445f81.056b9","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":36,"wires":[["6a68d842.2c0e88"]]},{"id":"c24e1ad.e3eb9e8","type":"debug","z":"d1445f81.056b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":721,"y":255,"wires":[]},{"id":"4ceec177.67057","type":"ui_form","z":"d1445f81.056b9","name":"","label":"","group":"5fd66ed6.ec26c","order":1,"width":0,"height":0,"options":[{"label":"Systolicbp","value":"sbp","type":"number","required":true},{"label":"Dystolicbp","value":"dbp","type":"number","required":true},{"label":"Pulse","value":"pl","type":"number","required":true},{"label":"Temperature","value":"tmp","type":"number","required":true}],"formValue":{"sbp":"","dbp":"","pl":"","tmp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":182,"y":427,"wires":[["86d46602.913cf8","4d17edb8.34fb84","b7a8385d.d4c948","8d23dc6.943ff2","7c926588.53ecdc"]]},{"id":"4d17edb8.34fb84","type":"ui_text","z":"d1445f81.056b9","group":"5fd66ed6.ec26c","order":1,"width":0,"height":0,"name":"","label":"Systolicbp","format":"{{msg.payload.sbp}}","layout":"row-spread","x":435,"y":361,"wires":[]},{"id":"69636117.cd14f","type":"function","z":"d1445f81.056b9","name":"Prediction","func":"var token=msg.payload.token;\nvar sbp=global.get(\"sbp\");\nvar dbp=global.get(\"dbp\");\nvar pl=global.get(\"pl\");\nvar tmp=global.get(\"tmp\");\nmsg.payload={\"fields\":[\"Systolicbp\",\"Dystolicbp\",\"Pulse\",\"Temperature\"],\"values\":[[sbp,dbp,pl,tmp]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":177,"y":52,"wires":[["691c3d55.c58dc4"]]},{"id":"12606cb2.11d8b3","type":"ui_text","z":"d1445f81.056b9","group":"5fd66ed6.ec26c","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":865,"y":201,"wires":[]},{"id":"b7a8385d.d4c948","type":"ui_text","z":"d1445f81.056b9","group":"5fd66ed6.ec26c","order":4,"width":0,"height":0,"name":"","label":"Dystolicbp","format":"{{msg.payload.dbp}}","layout":"row-spread","x":464,"y":412,"wires":[]},{"id":"8d23dc6.943ff2","type":"ui_text","z":"d1445f81.056b9","group":"5fd66ed6.ec26c","order":3,"width":0,"height":0,"name":"","label":"Pulse","format":"{{msg.payload.pl}}","layout":"row-spread","x":618,"y":450,"wires":[]},{"id":"7c926588.53ecdc","type":"ui_text","z":"d1445f81.056b9","group":"5fd66ed6.ec26c","order":5,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.tmp}}","layout":"row-spread","x":404,"y":473,"wires":[]},{"id":"6a68d842.2c0e88","type":"switch","z":"d1445f81.056b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":591.5,"y":40,"wires":[["cf1b1726.cbc8e8"],["13f125b7.f5046a"]]},{"id":"cf1b1726.cbc8e8","type":"template","z":"d1445f81.056b9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"less healthy","output":"str","x":632.5,"y":167,"wires":[["12606cb2.11d8b3"]]},{"id":"13f125b7.f5046a","type":"template","z":"d1445f81.056b9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"healthy","output":"str","x":780,"y":124,"wires":[["12606cb2.11d8b3"]]},{"id":"5fd66ed6.ec26c","type":"ui_group","z":"","name":"Prediction","tab":"44b0d45f.8dd36c","disp":true,"width":"6","collapse":false},{"id":"44b0d45f.8dd36c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]